#number-guess,
#result,
#history {
  max-width: 400px;
  margin: 0 auto;
}

#history {
  margin-top: 16px;
}

.banner {
  color: #7c90f0;
  font-size: 90px;
  font-family: sans-serif;
  background-color: #fffffe;
}
